.btn{
  height:46px;
  border-radius:8px;
  border:1px solid rgba(34,211,238,0.35);
  background:rgba(0,0,0,0.7);
  color:#67e8f9;
  font-weight:600;
  transition:.15s;
}

.btn:hover{
  box-shadow:0 0 15px rgba(34,211,238,.6);
}

.btn:active{
  transform:scale(.95);
}

.op{
  background:rgba(34,211,238,.15);
}

.eq{
  background:rgba(16,185,129,.35);
  border-color:#34d399;
}

.red{
  background:rgba(239,68,68,.35);
  border-color:#f87171;
}
